<div class="content">
				<div class="container-fluid">
					
					<div class="row">
						<div class="col-md-8 offset-md-2">
							
							<!-- Account Content -->
							<div class="account-content">
								<div class="row align-items-center justify-content-center">
									<div class="col-md-7 col-lg-6 login-left">
										<img src="assets/img/login-banner.png" class="img-fluid" alt="Login Banner">	
									</div>
									<div class="col-md-12 col-lg-6 login-right">
										<div class="login-header" style="text-align: center;">
											<i class="fa fa-paper-plane" aria-hidden="true" style="font-size: 100px;color:#47466c"></i>
											<h3 style="margin-top: 30px;">Verification Email Sent</h3>
											<p class="small text-muted">Verification Email Sent to your registered email Id.</p>
											<p class="small text-muted">Kindly validate email to click on verification link.</p>
										</div>
										
										
											<button  (click)="sendVerificationLink()" class="btn btn-primary w-100 btn-lg login-btn" type="submit">Resend Email</button>
										
									</div>
								</div>
							</div>
							<!-- /Account Content -->
							
						</div>
					</div>

				</div>

			</div>	