	<!-- Footer -->
	<footer class="footer">
				
		<!-- Footer Top -->
		<!-- <div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
					
						<div class="footer-widget footer-about">
							<div class="footer-logo">
								<img src="assets/img/logo-white.png" alt="logo">
							</div>
							<div class="footer-about-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<div class="social-icon">
									<ul>
										<li>
											<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-google-plus-g"></i> </a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
					
					<div class="col-lg-3 col-md-6">
					
						<div class="footer-widget footer-menu">
							<h2 class="footer-title">For User</h2>
							<ul>
								<li><a [routerLink]="'/login-page'">Login</a></li>
								<li><a [routerLink]="'/Register'">Register</a></li>
								</ul>
						</div>
							
					</div>
					
					<div class="col-lg-3 col-md-6">
					
							<div class="footer-widget footer-menu">
							
						</div>
				
						
					</div>

					<div class="col-lg-3 col-md-6">
					
						<div class="footer-widget footer-menu">
							<h2 class="footer-title">Subscribe for Updates</h2>
							<p>Don’t miss  latest news and events</p>
							<form>
								<div class="input-group mb-3">
									<input type="text" class="form-control" placeholder="Email">
									<button class="btn btn-outline-secondary" type="button">Subscribe</button>
								</div>
							</form>
						</div>
						
					</div>
					
				</div>
			</div>
		</div> -->
		<!-- /Footer Top -->
		
		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex col-md-12">
					<p>Copyright  © 2020 | All rights reserved</p>
				</div>
			</div>
		</div>
		<!-- /Footer Bottom -->
		
	</footer>
	<!-- /Footer -->