<div class="page-wrapper">

	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-4 col-sm-6 col-12">
			<div class="card">
				<div class="card-body">
					<div class="dash-widget-header">
						<span class="dash-widget-icon text-success">
							<i class="fe fe-credit-card"></i>
						</span>
						<div class="dash-count" style="float: inline-end;">
							<h6>Submitted</h6>
						</div>
					</div>
					<div class="dash-widget-info">
			
						<h6 class="text-muted">Loan Request</h6>
						<div class="progress progress-sm">
							<div class="progress-bar bg-success w-50"></div>
						</div>
					</div>
				</div>
			</div>
			</div>
			
			<div class="col-xl-4 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-danger border-danger">
								<i class="fe fe-money"></i>
							</span>
							<div class="dash-count" style="float: inline-end;">
								<h6>In Progress</h6>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Requests Status</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-danger w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-sm-6 col-12">
				<div class="card">
					<div class="card-body">
						<div class="dash-widget-header">
							<span class="dash-widget-icon text-warning border-warning">
								<i class="fe fe-bell"></i>
							</span>
							<div class="dash-count" style="float: inline-end;">
								<h6>10</h6>
							</div>
						</div>
						<div class="dash-widget-info">

							<h6 class="text-muted">Notifications</h6>
							<div class="progress progress-sm">
								<div class="progress-bar bg-warning w-50"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-6">

				<!-- Sales Chart -->
				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">Revenue</h4>
					</div>
					<div class="card-body">
						<div id="morrisArea"></div>
					</div>
				</div>
				<!-- /Sales Chart -->

			</div>
			<div class="col-md-12 col-lg-6">

				<!-- Invoice Chart -->
				<div class="card card-chart">
					<div class="card-header">
						<h4 class="card-title">Status</h4>
					</div>
					<div class="card-body">
						<div id="morrisLine"></div>
					</div>
				</div>
				<!-- /Invoice Chart -->

			</div>
		</div>
	</div>
</div>
<!-- <div class="card">
	<div class="card-body pt-0">
	
		
		<nav class="user-tabs mb-4">
			<ul class="nav nav-tabs nav-tabs-bottom nav-justified">
				<li class="nav-item">
					<a class="nav-link active" href="#pat_appointments" data-bs-toggle="tab">Loan Request</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#pat_prescriptions" data-bs-toggle="tab">Notifications</a>
				</li>
			</ul>
		</nav>
		
		<div class="tab-content pt-0">
			<div id="pat_appointments" class="tab-pane fade show active">
				<div class="card card-table mb-0">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Loan Request Id</th>
										<th> Date</th>
										<th>Amount</th>
										<th>Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											1234
										</td>
										<td>14 Nov 2020 <span class="d-block text-info">10.00 AM</span></td>
										<td>$160</td>
										<td><span class="badge rounded-pill bg-success-light">Confirm</span></td>
										<td class="text-end">
											<div class="table-action">
												<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
													<i class="fas fa-print"></i> Print
												</a>
												<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
													<i class="far fa-eye"></i> View
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="pat_prescriptions">
				<div class="card card-table mb-0">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>Date </th>
										<th>Name</th>									
										<th>Created by </th>
										<th></th>
									</tr>     
								</thead>
								<tbody>
									<tr>
										<td>14 Nov 2020</td>
										<td>11 1</td>
										<td>
											Test
										</td>
										<td class="text-end">
											<div class="table-action">
												<a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
													<i class="fas fa-print"></i> Print
												</a>
												<a href="javascript:void(0);" class="btn btn-sm bg-info-light">
													<i class="far fa-eye"></i> View
												</a>
											</div>
										</td>
									</tr>
									
								</tbody>	
							</table>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
</div> -->